<ion-header>
  <ion-toolbar>
    <ion-title>Vaccine Survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items" #slidingItem>
      <ion-item class="centeritem breakword">
        <ion-label>
          <div class="breakword">
            <h3>{{item.lastname + ', ' + item.firstname + ' ' + item.middlename}}</h3>
          </div>
          <div>
            <h3>{{item.address.text}}</h3>
          </div>
        </ion-label>
        <ion-card slot="end">
          <ion-card-header>
            <ion-card-subtitle>Will you be getting the Covid-19 vaccine?</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="btn-group">
              <button [disabled]="item.answer === 'yes'" type="button" class="btn btn-success btn-sm" (click)="choiceClicked(item, 'yes')">YES</button>
              <button [disabled]="item.answer === 'no'" type="button" class="btn btn-danger btn-sm" (click)="choiceClicked(item, 'no')">NO</button>
              <button [disabled]="item.answer === 'undecided'" type="button" class="btn btn-info btn-sm" (click)="choiceClicked(item, 'undecided')">UNDECIDED</button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
      
    </ion-item-sliding>
  </ion-list>
  <ion-list-header [hidden]="items?.length > 0">
    No Items Found
  </ion-list-header>
</ion-content>