<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vaccine Survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items; let i=index" #slidingItem>
      <ion-item class="centeritem breakword">
        <ion-label>
          <div class="inline" id="answercolor">
            <b>Person {{ i+1 }}</b>
            <h6>{{ item.address_municipality_lguname }}</h6>
          </div>
        </ion-label>
        <div class="btn-group" slot="end">
          <!-- <ion-button disabled style="width: 110px;" size="medium" [color]="item.answer=='YES' ? 'success' : (item.answer=='NO' ? 'danger' : 'warning')">{{ item.answer }}</ion-button> -->
          <!-- <ion-button size="medium" color="dark" (click)="clickchange(item)">Change</ion-button> -->
        </div>
      </ion-item>
      
    </ion-item-sliding>
  </ion-list>
  <ion-list-header [hidden]="items?.length > 0">
    No Items Found
  </ion-list-header>
</ion-content>