<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Advisories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centeritem">
    <iframe *ngIf="isbrowser"
      src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FProvincial-Health-Office-Bukidnon-105831774663901&tabs=timeline&width=500&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=139534969456997"
      width="500" height="1024" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
      allowTransparency="true" allow="encrypted-media"></iframe>
    <iframe *ngIf="!isbrowser"
      src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FProvincial-Health-Office-Bukidnon-105831774663901&tabs=timeline&width=340&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=139534969456997"
      width="340" height="1024" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
      allowTransparency="true" allow="encrypted-media"></iframe>

    <iframe *ngIf="isbrowser" class="resp-iframe"
      src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flgubukidnon%2F&tabs=timeline&width=500&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=562129067844961"
      width="500" height="1024" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
      allowTransparency="true" allow="encrypted-media"></iframe>
    <iframe *ngIf="!isbrowser"
      src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flgubukidnon%2F&tabs=timeline&width=340&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=562129067844961"
      width="340" height="1024" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
      allowTransparency="true" allow="encrypted-media"></iframe>
  </div>
</ion-content>