<ion-header>
  <ion-toolbar>
    <ion-title>QR Profile List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="col-12">
    <div class="card">
      <div class="card-body table-responsive p-0">
        <ion-list>
          <ion-item-sliding *ngFor="let item of items" #slidingItem>
            <ion-item (click)="printQR(item)">
              <ion-label>
               
                  <h3>{{item.lastname + ', ' + item.firstname + ' ' + item.middlename}}</h3>
                  <h3>{{item.address.text}}</h3>
                <div id="{{item.objid}}">
                  <ngx-qrcode 
                    [elementType]="elementType" 
                    [value]="item.qrdata | json"
                    cssClass="aclass"
                    errorCorrectionLevel="L">
                  </ngx-qrcode>
                </div>
              </ion-label>
             
            </ion-item>
            <ion-item-options>
              <a class="btn btn-app btn-danger btn-sm" routerLink="/qrprofile/{{item.objid}}">
                <i class="fas fa-edit"></i>
                Edit
              </a>
              <a class="btn btn-app btn-danger btn-sm" (click)="deleteItem(item)">
                <i class="fas fa-trash-alt"></i>
                Delete
              </a>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <ion-list-header [hidden]="items.length > 0">
          No Items Found
        </ion-list-header>
      </div>
    </div>
  </div>
</ion-content>
