<ion-header>
  <ion-toolbar>
    <ion-title>Covid Cases</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <nav class="navbar navbar-expand navbar-primary navbar-dark">
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="loadCases(null)" placeholder="Search"></ion-searchbar>
    </nav>
  </ion-toolbar> -->
</ion-header>


<ion-content>
  <ion-list #farmerList>
    <ion-item-sliding *ngFor="let item of cases" #slidingItem>
      <ion-item>
        <ion-label>
          <h3>{{item.properties['person_gender'] =='M' ? 'MALE':'FEMALE' }} | Age - {{ item.properties['person_age']}}</h3>
          <h3 *ngIf="item.properties['classification'] == 'CONFIRMED'" class="bg-danger">{{'ACTIVE' }}</h3>
          <h3 *ngIf="item.properties['classification'] == 'RECOVERED'" class="bg-success">{{item.properties['classification'] }}</h3>
          <h3 *ngIf="item.properties['classification'] == 'CLEARED'" class="bg-lime">{{item.properties['classification'] }}</h3>
          <h3 *ngIf="item.properties['classification'] == 'DECEASED'" class="bg-secondary">{{item.properties['classification'] }}</h3>
          <h3 *ngIf="item.properties['classification'] == 'SUSPECT'" class="bg-warning">{{item.properties['classification'] }}</h3>
          <h3 *ngIf="item.properties['classification'] == 'PROBABLE'" class="bg-indigo">{{item.properties['classification'] }}</h3>
          <p>
            {{item.properties['address_muncity']}} - {{item.properties['address_barangay']}} |
            CIVL STATUSs : {{item.properties['person_civilstatus']}} |
            OCCUPATION : {{item.properties['person_occupation']}} |
            WORKPLACE : {{item.properties['person_workplaceaddress']}} |
            <!-- {{item.properties['hasfever'] == 'Y' || item.properties['hasfever'] == 'Y' || item.properties['hascolds'] == 'Y' || item.properties['hasdiarrhea'] == 'Y' || item.properties['hasdiffbreath'] == 'Y' ? "SYMPTOMATIC" : "ASYMPTOMATIC"  }} -->
          </p>
        </ion-label>
        <!-- <ion-thumbnail slot="end" *ngIf="item?.fphoto">
          <img [src]="item.fphoto"/>
        </ion-thumbnail> -->
      </ion-item>
      <!-- <ion-item-options>
          <a class="btn btn-app btn-danger btn-sm" (click)="presentAlertConfirm(item,deleteFarmer)">
            <i class="fas fa-trash-alt"></i>
            Delete
          </a>
      </ion-item-options> -->
    </ion-item-sliding>
  </ion-list>
  <ion-list-header [hidden]="cases.length > 0">
    No Case Found
  </ion-list-header>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadCases($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
