<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-item slot="end" lines="none">
      <ion-label>Sync Dashboard</ion-label>
      <ion-toggle
        color="primary"
        [(ngModel)]="sync"
        (ionChange)="updatesyncsettings()"
      >
      </ion-toggle>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container-fluid">
    <ion-toolbar color="primary">
      <nav class="navbar navbar-expand navbar-primary navbar-dark">
        <ion-title>Data as of {{currentdatetime}}</ion-title>
      </nav>
    </ion-toolbar>
    &nbsp;
    <app-a2hs-prompt></app-a2hs-prompt>
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3 [hidden]="!totalactive">{{totalactive}}</h3>
            <p>
              Active Cases ({{(totalactive/totalconfirmed) * 100 |
              number:'1.0-1' }}%)
            </p>
            <label>{{totalactivetoday}} New Confirmed Cases Today</label>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <!-- <a href="#" class="small-box-footer"></a> -->
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3 [hidden]="!totalrecovered">{{totalrecovered}}</h3>
            <p>
              Recovered ({{(totalrecovered/totalconfirmed) * 100 |
              number:'1.0-1' }}%)
            </p>
            <label>{{totalrecoveredtoday}} New Recovered Cases Today</label>
          </div>
          <div class="icon">
            <i class="ion ion-checkmark"></i>
          </div>
          <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-secondary">
          <div class="inner">
            <h3 [hidden]="!totaldeceased">{{totaldeceased}}</h3>
            <p>
              Deceased ({{(totaldeceased/totalconfirmed) * 100 | number:'1.0-1'
              }}%)
            </p>
            <label>{{totaldeceasedtoday}} Deceased Today</label>
          </div>
          <div class="icon">
            <i class="ion ion-close"></i>
          </div>
          <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
        </div>
      </div>
      <!-- ./col -->
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{totalconfirmed}}</h3>
            <p>Total Confirmed</p>
            <label>&nbsp;</label>
          </div>
          <div class="icon">
            <i class="ion ion-information"></i>
          </div>
          <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-indigo">
          <div class="inner">
            <h3>{{totalprobable}}</h3>
            <p>Probable Cases</p>
            <label>{{totalprobabletoday}} New Probable Cases Today</label>
          </div>
          <div class="icon">
            <i class="ion ion-alert"></i>
          </div>
          <!-- <a href="#" class="small-box-footer"></a> -->
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{totalsuspect}}</h3>
            <p>Suspect Cases</p>
            <label>{{totalsuspecttoday}} New Suspect Cases Today</label>
          </div>
          <div class="icon">
            <i class="ion ion-help"></i>
          </div>
          <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-purple">
          <div class="inner">
            <h3>{{totalquarantined}}</h3>
            <p>Ongoing Quarantined</p>
            <label>&nbsp;</label>
          </div>
          <div class="icon">
            <i class="ion ion-locked"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <div class="small-box bg-lime">
          <div class="inner">
            <h3>{{totalcompleted}}</h3>
            <p>Completed</p>
            <label>{{totalcompletedtoday}} New Cleared Today</label>
          </div>
          <div class="icon">
            <i class="ion ion-unlocked"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <!-- <div class="col-lg-12">
        <div class="card" style="position: relative; left: 0px; top: 0px;">
          <div class="card-header">
            <ion-title class="card-title" color="primary">
              <i class="ion ion-pie-graph"></i>
              Data Vizualization
            </ion-title>
            <div class="card-tools">
              <ul class="nav nav-pills ml-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="#casebymunicipality" data-toggle="tab">Cases by Municipality</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#casebygender" data-toggle="tab">Confirmed Cases by Gender</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#casebyagegroup" data-toggle="tab">Case by Age Group</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content p-0">
              <div class="chart tab-pane active" id="casebymunicipality" style="height:400px">
                  <canvas #barChartCanvasSummaryByMunicipality></canvas>
              </div>
              <div class="chart tab-pane" id="casebygender" style="height:400px">
                <canvas #barChartCanvasSummaryActiveCaseByGender></canvas>
              </div>
              <div class="chart tab-pane" id="casebyagegroup" style="height:400px">
                <canvas #barChartCanvasCaseByAgeGroup></canvas>
              </div>
            </div>
          </div>
        </div>
       </div> -->
      <div class="col-lg-8">
        <div class="card" style="position: relative; left: 0px; top: 0px">
          <div class="card-header">
            <ion-title class="card-title" color="primary">
              <i class="ion ion-stats-bars"></i>
              Cases by Municipality
            </ion-title>
          </div>
          <div class="card-body">
            <div style="height: 400px">
              <div
                class="overlay"
                *ngIf="!barChartCanvasSummaryByMunicipality_loaded"
              >
                <img
                  src="https://i.imgur.com/fXUIBfi.gif"
                  alt="Loading Chart"
                />
              </div>
              <canvas #barChartCanvasSummaryByMunicipality></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="position: relative; left: 0px; top: 0px">
          <div class="card-body">
            <div style="height: 450px; text-align: center">
              <app-muncovidpreview></app-muncovidpreview>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-4">
        <div class="card" style="position: relative; left: 0px; top: 0px;">
          <div class="card-body">
            <div style="height:450px; text-align: center;">
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FProvincial-Health-Office-Bukidnon-105831774663901%2F&tabs=timeline&width=340&height=331&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=139534969456997" width="340" height="331" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
          </div>
        </div>
       </div> -->
      <div class="col-lg-12">
        <div class="card" style="position: relative; left: 0px; top: 0px">
          <div class="card-header">
            <ion-title class="card-title" color="primary">
              <i class="ion ion-stats-bars"></i>
              AVERAGE DAILY ATTACK RATE (ADAR)
            </ion-title>
          </div>
          <div class="card-body">
            <div>
              <div class="ion-padding">
                <ngx-datatable
                  class="dark"
                  [limit]="22"
                  [rows]="rows"
                  [rowHeight]="50"
                  [columns]="columns"
                  [columnMode]="'force'"
                  [sortType]="'multi'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [scrollbarH]="true"
                >
                  <!-- <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}"
                    prop="{{column.prop}}" [width]="column.width">
                   <ng-template let-value="value" let-row="row"  ngx-datatable-cell-template>
                      {{(column.prop === 'createdAt' ) ? (row.createdAt | date) : value}}
                   </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Actions" sortable="false" prop="id" width="250">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      <div class="btn-group">
                        <button type="button" class="btn btn-success btn-sm" (click)="approve(value)">Approve</button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="disapprove(value)">Disapprove</button>
                      </div>
                    </ng-template>
                  </ngx-datatable-column> -->

                  <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}" [width]="column.width">

                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <span *ngIf="['averageincidentcases'].includes(column.prop); else attackrate" >{{value | number:'.2-2'}}</span> 
                      <ng-template #attackrate>
                        <span *ngIf="['attackrate'].includes(column.prop); else adar"  >{{value | number:'.2-2'}}</span>     
                      </ng-template>   
                      <ng-template #adar>   
                        <div *ngIf="['adar'].includes(column.prop);else others" [ngClass]="{'LOW' : 'bg-success', 'MEDIUM'  : 'bg-warning', 'HIGH' : 'bg-danger'}[value]"><b>{{value}}</b></div>
                      </ng-template>    
                      <ng-template #others><div [innerHTML]="value"></div></ng-template>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card" style="position: relative; left: 0px; top: 0px">
          <div class="card-header">
            <ion-title class="card-title" color="primary">
              <i class="ion ion-stats-bars"></i>
              Case Summary
            </ion-title>
          </div>
          <div class="card-body">
            <div style="height: 400px">
              <div class="overlay" *ngIf="!barChartCanvasCaseSummary_loaded">
                <img
                  src="https://i.imgur.com/fXUIBfi.gif"
                  alt="Loading Chart"
                />
              </div>
              <canvas #barChartCanvasCaseSummary></canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-12">
        <div class="card" style="position: relative; left: 0px; top: 0px;">
        <div class="card-header">
            <ion-title class="card-title" color="primary">
              <i class="ion ion-stats-bars"></i>
              Case Summary 7 Day Average
            </ion-title>
          </div>
          <div class="card-body">
            <div style="height:350px">
              <canvas #barChartCanvasCaseSummary7DayAverage></canvas>
            </div>
          </div>
        </div>
       </div> -->
      <div class="col-lg-12">
        <div class="card" style="position: relative; left: 0px; top: 0px">
          <div class="card-header">
            <ion-title class="card-title" color="primary">
              <i class="ion ion-stats-bars"></i>
              Confirmed Cases by Gender
            </ion-title>
          </div>
          <div class="card-body">
            <div style="height: 400px">
              <div
                class="overlay"
                *ngIf="!barChartCanvasSummaryActiveCaseByGender_loaded"
              >
                <img
                  src="https://i.imgur.com/fXUIBfi.gif"
                  alt="Loading Chart"
                />
              </div>
              <canvas #barChartCanvasSummaryActiveCaseByGender></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card" style="position: relative; left: 0px; top: 0px">
          <div class="card-header">
            <ion-title class="card-title" color="primary">
              <i class="ion ion-stats-bars"></i>
              Case by Age Group
            </ion-title>
          </div>
          <div class="card-body">
            <div style="height: 400px">
              <div class="overlay" *ngIf="!barChartCanvasCaseByAgeGroup_loaded">
                <img
                  src="https://i.imgur.com/fXUIBfi.gif"
                  alt="Loading Chart"
                />
              </div>
              <canvas #barChartCanvasCaseByAgeGroup></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
